= render :partial => "/header"

#searchContainer
  .container-fluid
    .row
      .col-lg-6.col-lg-offset-3
        %h2 Connecting Businesses
        #coloredContainer
          .input-group
            %input.form-control{:type=>'search',:placeholder=>'Search for products & Suppliers'}
            %span.input-group-btn
              %button.btn.btn-search{:type=>'button'}
                %span.glyphicon.glyphicon-search{:aria=>{:hidden => 'true'}}
          %button.btn.btn-primary.navbar-btn.btn-register{:type=>'button'} Sign up for free        

= render :partial =>"/footer"