#footer
  .navbar-static-bottom
    .container-fluid
      #optionsContainer
        %ul
          %li
            %a{href: "#"} ABOUT US
          %li
            %a{href: "#"} CONTACT
          %li
            %a{href: "#"} LEGAL
          %li
            %a{href: "#"} BLOG
          %li
            %a{href: "#"} HELP & SUPPORT
          %li
            %a{href: "#"} TEAM
          %li
            %a{href: "#"} FAQ
          %li
            %a{href: "#"} PAYMENTS
        #copyright Copyright @2014 SmartPaddle. All rights reserved
      #subscribe
        %h5 SUBSCRIBE FOR LATEST INFORMATION
        .input-group
          %input.form-control{:type=>'search',:placeholder=>'Email Address..'}
            %span.input-group-btn
              %button.btn.btn-subscribe{:type=>'button'} Subscribe