#topHeader
  %nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle{:data => {:toggle => 'collapse', :target => '#navbar'}, :aria => {:expanded => 'true', :controls => 'navbar'}}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "#"} SMARTPADDLE
      #navbar.navbar-collapse.collapse.in{:aria=>{:expanded => 'true'}}
        %ul.nav.navbar-nav.navbar-left
          %li
            %a{href: "#"} HOME
          %li
            %a{href: "#"} CHEMICALS
          %li
            %a{href: "#"} PLASTICS
          %li
            %a{href: "#"} SOLAR
      #cartLoginContainer
        #cart
          #circle 0
          #carticontext
            %span.glyphicon.glyphicon-shopping-cart#carticon{:aria=>{:hidden => 'true'}}
            #carttext Cart
        #login
          - if user_signed_in?
            = current_user.email
            = link_to "Sign Out", destroy_user_session_path, method: :delete
          - else
            = link_to "Login", new_user_session_path
            = link_to "Sign Up", new_user_registration_path


