.block.active
  %span.glyphicon.glyphicon-th.icon{:aria=>{:hidden => 'true'}}
  .label PRODUCTS
.block
  %span.glyphicon.glyphicon-user.icon{:aria=>{:hidden => 'true'}}
  .label PROFILE
.block
  %span.glyphicon.glyphicon-shopping-cart.icon{:aria=>{:hidden => 'true'}}
  .label ORDERS
.block
  %span.glyphicon.glyphicon-ok.icon{:aria=>{:hidden => 'true'}}
  .label APPROVALS
.block
  %span.glyphicon.glyphicon-file.icon{:aria=>{:hidden => 'true'}}
  .label 
  = link_to("QUOTATIONS", { controller: "messages", action: "index" })
.block
  %span.glyphicon.glyphicon-bell.icon{:aria=>{:hidden => 'true'}}
  .label 
  = link_to("NOTIFS", { controller: "messages", action: "new" })
.block
  %span.glyphicon.glyphicon-credit-card.icon{:aria=>{:hidden => 'true'}}
  .label PAYMENTS
